nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
    padding: 0 10em;
    background: rgba(40, 44, 52, .9);
    color: #FFF;
}

.nav-links {
    display:flex;
    width: 30rem;
    justify-content: space-around;
    list-style: none;
    font-size: 1rem;
}

nav h3 {
    font-weight: 600;
}

.nav-links li {
    font-weight: 700;
}

.nav-links li:hover,
.nav-links li.desaturated:hover {
    color: rgb(141, 77, 252);
}

.user:hover{
    color: #FFF !important;
}

.nav-links li.desaturated {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
}

.vertical-line {
    border-right: 1px solid #FFF;
    height: 1.3rem;
}