nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #282c34;
    color:white;

}

.nav-links{
    display:flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}

nav h3 {
    font-weight: 600;
}

.nav-links li {
    font-weight: 400;
}