@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;600&display=swap');

.search-form-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
}

.search-form,
.find-artist-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    max-width: 50rem;
    height: 33rem;
    margin: 0 4em;
    border-radius: 2em;
    font-family: 'Yanone Kaffeesatz';
    color: rgb(20, 47, 121);
    background-color: #FFF;
}


.search-form h1,
.find-artist-link h1 {
    font-size: clamp(2rem, 4.5vw, 4rem);
    padding: 0 2em;
    margin-top: 1em;
    margin-bottom: 1.2em;
    color: inherit;
}


.search-input {
    outline: none;
    width: clamp(12rem, 17vw, 17rem);
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-bottom: 2px solid #53488d;
    margin-bottom: 1em;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
}

.submit-input {
    cursor: pointer;
    width: 5rem;
    background-color: #FFF;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: .5em 1em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: 1px;
    border: 1px solid rgb(20, 47, 121);
    border-radius: .5em;
    transition-duration: 300ms;
}

.submit-input:hover {
    cursor: pointer;
    background-color: rgb(20, 47, 121);
    color: #FFF;
}

.search-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.import-artist-button {
    font-size: clamp(.9rem, 2.5vw, 1.2rem);
    padding: .5em 1em;
    background-color: #333;
    border: 3px solid #333;
    color:#FFF;
    letter-spacing: 1px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    margin-bottom: 12.5rem;
    transition: background-color .35s, 
                border .35s, 
                letter-spacing .35s, 
                padding .35s, 
                color .35s;

}

.import-artist-button:hover {
    background-color: #FFF;
    color: #333;
    border: 3px solid #333;
    padding: .5em .5em;
    letter-spacing: 0;
}


  
@media (max-width: 900px) {
    
    .search-form-wraper {
        flex-direction: column;
    }

    .search-form,
    .find-artist-link {
        width: 60%;
        min-width: 20rem;
    }

    .search-form {
        border-radius: 2em 2em 0 0;
        border-bottom: 2px solid rgb(95, 95, 95);
    }

    .find-artist-link {
        border-radius: 0 0 2em 2em;
    }

    .import-artist-button {
        margin-bottom: 5rem;
        margin-top: 5rem;
    }

    .search-input {
        margin-top: 4rem;
    }
}